.white {
  color: white !important;
}

.program-card {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  // margin-top: 30px;
  // margin-left: auto;
  // margin-right: auto;
  margin: auto;
}

.tribeAside {
  background-color: #777;
}
.dashAsideContainer {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 270px;
  margin-top: 10px;
  color: white;
}
