header {
  margin-bottom: 84px;
}

html {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #747696, #1c1f2e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #747696, #1c1f2e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

a {
  color: #eaeaed;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

hr {
  background-color: #77798f;
  height: 3px;
}

.hr2 {
  background-color: #77798f;
  height: 8px;
}

.button {
  background-color: #00d6f4 ;
  background-color: -webkit-linear-gradient(to bottom, #00d6f4, #009ff3)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to bottom, #00d6f4, #009ff3)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.auth-button {
  background-color: #00d6f4AA ;
  background-color: -webkit-linear-gradient(to left, #00d6f4, #009ff3);  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to left, #00d6f4, #009ff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 40px;
  color: white;
  margin-top: 60px;
}

.about {
  width: 90%;
}

.page-title-large {
  font-size: 35px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.sub-text {
  font-family: 'Montserrat', sans-serif;
  color: #eaeaed;
  font-size: 24px;
}

.bold-sub-text{
  font-family: 'Montserrat', sans-serif;
  color: #eaeaed;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}


.navbar, .navbar-menu {
  background: #ffffff00;
}

.navbar-menu a:hover {
  background-color: #43465f;
  font-weight: 700;
  font-size: 18px;
}

.navbar-item {
    color: #eaeaed !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.white {
  color: white !important;
}

.program-card {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  margin-bottom: 20px;
}

.program-card-rest {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);  // margin-right: auto;
  margin: auto;
  margin-bottom: 20px;
}

.program-card-completed {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);  // margin-right: auto;
  margin: auto;
  margin-bottom: 20px;
}

.program-card-skipped {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  margin-bottom: 20px;
}

.program-card-unlogged {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  margin-bottom: 20px;
}

.program-div {
  margin-top: 20px;
  margin-left: 10px;
}

input.programEdit  {
  background: none;
}

.login-buttons {
    margin-top: 15px;
    color: white;
    font-weight: bold !important;
}

.fas {
  color: white;
}

.fas-regular {
  color: inherit !important;
}

.upcomingDetails {
  margin-right: 10px;
}

.tribeAside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #777;
  height: 100vh;
  overflow: auto;
}

.each-leader {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
}

.challenge {
  background: #FF4E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.challenges-index {
  overflow: scroll;
}

.challenge-title {
  font-weight: bold;
  font-size: 20px;
}

.tribeAsideContainer {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 270px;
  width: 100%;
  margin-top: 10px;
  color: white;
  overflow: scroll;
}

.tribe-average-stats {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.dashAside {
  background-color: #12233e;
  height: 100vh;
  overflow: auto;
}

.dashFeed {
  // padding-right: 60px;
  // flex: auto;
}

.dot-green {
  color: green;
  // margin-right: 5px;
}
.dot-red {
  color: red;
  // margin-right: 5px;
}

.dot-orange {
  color: orange;
  // margin-right: 5px;
}
.dot-grey {
  color: grey;
  // margin-right: 5px;
}

.create-card {
  margin: 10px;
  padding: 0px;
}

.feedLogWorkout {
  margin-right: 10px;
}

.footer {
  background: #ffffff00;  /* fallback for old browsers */

}
@import './partials/_flash.scss';
