header {
  margin-bottom: 64px;
}

html {
  background-color: #F5F5F5;
}

.navbar, .navbar-menu {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-menu a:hover {
  background: grey;
}

.navbar-item {
    color: white !important;
}

.white {
  color: white !important;
}

.program-card {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  margin-bottom: 20px;
}

.program-card-rest {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);  // margin-right: auto;
  margin: auto;
  margin-bottom: 20px;
}

.program-card-completed {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);  // margin-right: auto;
  margin: auto;
  margin-bottom: 20px;
}

.program-card-skipped {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  margin-bottom: 20px;
}

.program-card-unlogged {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  margin-bottom: 20px;
}

.program-div {
  margin-top: 20px;
  margin-left: 10px;
}

input.programEdit  {
  background: none;
}

.login-buttons {
    margin-top: 15px;
    color: white;
    font-weight: bold !important;
}

.fas {
  color: white;
}

.fas-regular {
  color: inherit !important;
}

.upcomingDetails {
  margin-right: 10px;
}

.tribeAside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #777;
  height: 100vh;
  overflow: auto;
}

.tribeAsideContainer {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 270px;
  width: 100%;
  margin-top: 10px;
  color: white;
  overflow: scroll;
}

.dashAside {
  background-color: #12233e;
  height: 100vh;
  overflow: auto;
}

.dashFeed {
  // padding-right: 60px;
  // flex: auto;
}
